<!--
add_asset.html
Author - Cole Vikupitz
CIS 322 - Assignment 6
********************************************************
HTML file for adding an asset to the system..
-->

<!DOCTYPE html>
<html lang="en-US">
<html>
	<head>
		<link rel="icon" href="{{url_for('static', filename='alien_icon.png')}}"/>
			<style>
				body {
					background-color: #ccccff;
					margin: 30px;
					font-family: verdana;
					font-size: 100%;
				}
				input {
					font-family: verdana;
					font-size: 100%;
					margin-bottom: 10px;
				}
			</style>
	</head>
	<body>
		<title>L.O.S.T.</title>
		<left><a href="{{url_for('dashboard')}}">Return to the dashboard</a></left>
		<center>
			<h1>Add Asset</h1><br>
			
			Tag: <input type="text" name="tag" placeholder="Asset Tag" required maxlength=16 /><br>
			Description: <input type="text" name="desc" placeholder="Description" required maxlength=80/></br>
			<input type="submit" value="Add"/>
		</center>
	</body>
</html>
