<!--
add_asset.html
Author - Cole Vikupitz
CIS 322
********************************************************
HTML file for adding an asset to the system..
-->

<!DOCTYPE html>
<html lang="en-US">
<html>
	<head>
		<link rel="icon" href="{{url_for('static', filename='alien_icon.png')}}"/>
			<style>
				body {
					background-color: #ccccff;
					margin: 30px;
					font-family: verdana;
					font-size: 100%;
				}
				input {
					font-family: verdana;
					font-size: 100%;
					margin-bottom: 10px;
				}
				table, th, td {
					border: 1px solid black;
					border-collapse: collapse;
				}
				th, td { padding: 5px; }
				th { text-align: left; }
			</style>
	</head>
	<body>
		<title>L.O.S.T.</title>
		<left><a href="{{url_for('dashboard')}}">Return to the dashboard</a></left>
		<center>
			<h1>Add Asset</h1><br>
			<table style="width:70%">
				<tr><th>Asset Tag</th><th>Asset Description</th></tr>
				{% for asset in assets %}
					<tr><th> {{ asset[1] }} </th>
					<th> {{ asset[2] }} </th></tr>
				{% endfor %}
			</table><br>
			<form method="post">
				Tag: <input type="text" name="tag" size=16 placeholder="Asset Tag" required maxlength=16 /><br>
				Description: <input type="text" name="desc" size=36 placeholder="Asset Description" maxlength=80/></br>
				Facility: <select name="facility">
					{% for fac in facilities %}
						<strong><option value={{fac}}> {{ fac[1] }} </option></strong>
					{% endfor %} 
				</select><br>
				<input type="submit" value="Insert"/>
			</form>
		</center>
	</body>
</html>
