<!--
add_asset.html
Author - Cole Vikupitz
CIS 322
********************************************************
Page where users can add assets into the system.
-->

<!DOCTYPE html>
<html lang="en-US">
<html>
	<head>
		<link rel="icon" href="{{url_for('static', filename='alien_icon.png')}}"/>
			<style>
				body {
					background-color: #ccccff;
					margin: 30px;
					font-family: verdana;
					font-size: 100%;
				}
				input {
					font-family: verdana;
					font-size: 100%;
					margin-bottom: 10px;
				}
				select { height: 23px; }
				table, th, td {
					border: 1px solid black;
					border-collapse: collapse;
				}
				th, td { padding: 5px; }
				th { 
					font-weight: normal;
					text-align: left; 
				}
				select { margin-bottom: 10px; }
			</style>
	</head>
	<body>
		<title>L.O.S.T.</title>
		<left><a href="{{url_for('dashboard')}}">Return to the dashboard</a></left>
		<center>
			<h1>Add an Asset</h1>
			<h3 style="color:red;"> {{ message }} </h3>
			<table style="width:70%">
				<tr><th><b>Asset Tag</b></th><th><b>Asset Description</b></th></tr>
				{% for asset in assets %}
					<tr>
						<th> {{ asset[1] }} </th>
						<th> {{ asset[2] }} </th>
					</tr>
				{% endfor %}
			</table><br>
			<form method="post">
				Tag: <input type="text" name="tag" size=16 placeholder="Asset Tag" required maxlength=16 /><br>
				Description: <input type="text" name="desc" size=36 placeholder="Asset Description" maxlength=80/></br>
				Facility: <select required name="facility">
					<option value="">None</option>
					{% for fac in facilities %}
						<option value={{fac[2]}}> {{ fac[2] }} </option>
					{% endfor %} 
				</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Arrival Date: 
				<input type="text" name="date" size=10 placeholder="MM/DD/YYYY" required maxlength=10 />&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="submit" value="Insert"/>
			</form>
		</center>
	</body>
</html>
