<!--
approve_req.html
Author - Cole Vikupitz
CIS 322
********************************************************
Page where facility officers can approve transfer requests.
-->

<!DOCTYPE html>
<html lang="en-US">
<html>
	<head>
		<link rel="icon" href="{{url_for('static', filename='alien_icon.png')}}"/>
		<style>
			body {
				background-color: #ccccff;
				margin: 30px;
				font-family: verdana;
				font-size: 100%;
			}
			input {
				font-family: verdana;
				font-size: 100%;
				margin-bottom: 10px;
			}
		</style>
	</head>
	<body>
		<title>L.O.S.T.</title>
		<left><a href="{{url_for('dashboard')}}">Return to the dashboard</a></left>
		<center>
			<h1>Approve/Decline the Request</h1><br>
			<table style="width:50%">
				<tr>
					<th><b>ID Stamp</b></th>
					<th> {{ request[0] }} </th>
				</tr>
				<tr>
					<th><b>Asset Tag</b></th>
					<th> {{ request[1] }} </th>
				</tr>
				<tr>
					<th><b>Source Facility</b></th>
					<th> {{ request[2] }} </th>
				</tr>
				<tr>
					<th><b>Destination Facility</b></th>
					<th> {{ request[3] }} </th>
				</tr>
				<tr>
					<th><b>Requested by</b></th>
					<th> {{ request[4] }} </th>
				</tr>
				<tr>
					<th><b>Submitted at</b></th>
					<th> {{ request[5] }} </th>
				</tr>
			</table><br><br>
			<form method="post">
				<input type="submit" name="button" value="Approve"/>&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="submit" name="button" value="Decline"/>
			</form>
		</center>
		
	</body>
</html>
