<!--
asset_report.html
Author - Cole Vikupitz
CIS 322
********************************************************
Page where users can view the system's current asset reports.
-->

<!DOCTYPE html>
<html lang="en-US">
<html>
	<head>
		<link rel="icon" href="{{url_for('static', filename='alien_icon.png')}}"/>
		<style>
			body {
				background-color: #ccccff;
				margin: 30px;
				font-family: verdana;
				font-size: 100%;
			}
			input {
				font-family: verdana;
				font-size: 100%;
				margin-bottom: 10px;
			}
			select { height: 23px; }
			table, th, td {
				border: 1px solid black;
				border-collapse: collapse;
			}
			th, td { padding: 5px; }
			th { 
				font-weight: normal;
				text-align: left; 
			}
			select { margin-bottom: 10px; }
		</style>
	</head>
	<body>
		<title>L.O.S.T. (Asset Report)</title>
		<left><a href="{{url_for('dashboard')}}">Return to the dashboard</a></left>
		<center>
			<h1>Asset Report</h1>
			<h3 style="color:red;"> {{ message }} </h3>
			
			<form method="post">
				Facility: <select required name="facility">
					<option value="ALL">All</option>
					{% for fac in facilities %}
						<option value={{fac[2]}}> {{ fac[2] }} </option>
					{% endfor %} 
				</select>&nbsp;&nbsp;&nbsp;&nbsp;
				Arrival Date: <input type="text" name="date" size=10 placeholder="MM/DD/YYYY" required maxlength=10 />
				&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Generate"/>	
				<table style="width:100%">
					<tr>
						<th><b>Asset Tag</b></th>
						<th><b>Description</b></th>
						<th><b>Facility</b></th>
						<th><b>Arrival Date</b></th>
						<th><b>Departure Date</b></th>
					</tr>
					{% for re in report %}
						<tr>
						<th> {{ re[0] }} </th>
						<th> {{ re[1] }} </th>
						<th> {{ re[2] }} </th>
						<th> {{ re[3] }} </th>
						<th> {{ re[4] }} </th>
						</tr>
					{% endfor %}
				</table><br>
			</form>
		</center>
	</body>
</html>
