<!--
create_user.html
Author - Cole Vikupitz
CIS 322 - Assignment 6
********************************************************
HTML file for the new account screen. Asks for a username and password and a button for 
creating a new user. Text fields must be filled out to create a new user account.
-->

<!DOCTYPE html>
<html lang="en-US">
<html>

<head>
<link rel="icon" href="templates/alien_icon.png"/>
<style>
body {
	background-color: #ccccff;
	font-family: verdana;
    font-size: 100%;
	margin: 30px;
}
input {
	font-family: verdana;
    font-size: 100%;
	margin-bottom: 10px;
}
</style></head>

<body><center>

<!-- Title and header set, display the icon -->
<title>L.O.S.T. (New User)</title>
<h1>New Account</h1>
<img src="templates/alien_icon.png" alt="HTML5 Icon" style="width:209px;height:246px;"/><br>
<h4>Enter a new username and password.</h4>
<!-- Entry boxes and button for login -->
<form method="post">
Username: <input type="text" name="username" placeholder="Username" required/><br>
Password: <input type="password" name="password" placeholder="Password" required/><br>
Confirm Password: <input type="password" name="confirm" placeholder="Confirm Password" required/><br>
<input type="submit" value="Submit"/><br><br>
</form>
<a href="{{url_for('login')}}">Return to login page</a>

</center></body>
</html>