<!--
dashboard.html
Author - Cole Vikupitz
CIS 322
********************************************************
Page of the dashboard, where users can sign out and access other pages.
-->

<!DOCTYPE html>
<html lang="en-US">
<html>
	<head>
	<link rel="icon" href="{{url_for('static', filename='alien_icon.png')}}"/>
		<style>
			body {
				background-color: #ccccff;
				font-family: verdana;
				font-size: 100%;
				margin: 30px;
			}
			input {
				font-family: verdana;
				font-size: 100%;
				margin-bottom: 10px;
			}
			article {
				margin-left: 300px;
				border-left: 1px solid gray;
				padding: 1em;
				overflow: hidden;
			}
			nav {
				float: left;
				max-width: 300px;
				margin: 0;
				padding: 1em;
			}
		</style>
	</head>
	<body>
		<title>L.O.S.T. (Dashboard)</title>
		<p align=left>
			Currently logged in as <b>{{ name }}, {{ role }}.</b><br>
			Click <a href="{{url_for('logout')}}">here</a> to logout.
		</p>
		<div class="container">
			<header>
				<center><h1>L.O.S.T. Dashboard</center></h1>
			</header>
			<nav>
				<b>Pending Transfers:</b><br>
				<ul>
					{% for re in requests %}
					<li><a href="{{url_for('approve_req')}}?ident={{ re[1] }}"> {{ re[1] }} </a></li>
					{% endfor %}
				</ul>
			</nav>
			<article>
				<ul>
					<li><h3><a href="{{url_for('asset_report')}}">View Asset Report</a></h3></li>
					<li><h3><a href="{{url_for('transfer_report')}}">View Transfer Report</a></h3></li>
					<li><h3><a href="{{url_for('add_asset')}}">Add an Asset</a></h3></li>
					<li><h3><a href="{{url_for('add_facility')}}">Add a Facility</a></h3></li>
					<li><h3><a href="{{url_for('dispose_asset')}}">Dispose an Asset</a></h3></li>
					<li><h3><a href="{{url_for('transfer_req')}}">Make a Transfer Request</a></h3></li>
				</ul>
			</article>		
		</div>	
	</body>
</html>
