<!--
dashboard.html
Author - Cole Vikupitz
CIS 322 - Assignment 6
********************************************************
HTML file for the dashboard. Will display the user name and has a link
for logging out.
-->

<!DOCTYPE html>
<html lang="en-US">
<html>

<head>
<link rel="icon" href="alien_icon.png"/>
<style>
body {
	background-color: #ccccff;
	font-family: verdana;
    font-size: 100%;
	margin: 30px;
}
input {
	font-family: verdana;
    font-size: 100%;
	margin-bottom: 10px;
}
</style></head>

<body><center>

Currently logged in as <b>guest.</b><br><br>
Click <a href="logout.html">here</a> to logout.

</form>

</center></body>
</html>