<!--
dashboard.html
Author - Cole Vikupitz
CIS 322
********************************************************
Page of the dashboard, where users can sign out and access other pages.
-->

<!DOCTYPE html>
<html lang="en-US">
<html>
	<head>
	<link rel="icon" href="{{url_for('static', filename='alien_icon.png')}}"/>
		<style>
			body {
				background-color: #ccccff;
				font-family: verdana;
				font-size: 100%;
				margin: 30px;
			}
			input {
				font-family: verdana;
				font-size: 100%;
				margin-bottom: 10px;
			}
		</style>
	</head>
	<body>
		<title>L.O.S.T.</title>
		<left>
		Currently logged in as <b>{{ name }}, {{ role }}.</b><br>
		Click <a href="{{url_for('logout')}}">here</a> to logout.
		</left>
		<center>
			<h1>L.O.S.T. Dashboard</h1><br><br>
			<h3><a href="{{url_for('asset_report')}}">View Asset Report</a></h3>
			<h3><a href="{{url_for('logout')}}">View Transfer Report</a></h3>
			<h3><a href="{{url_for('add_asset')}}">Add an Asset</a></h3>
			<h3><a href="{{url_for('add_facility')}}">Add a Facility</a></h3>
			<h3><a href="{{url_for('dispose_asset')}}">Dispose an Asset</a></h3>
			<h3><a href="{{url_for('transfer_req')}}">Make a Transfer Request</a></h3>
			
		</center>
	</body>
</html>
