<!--
dispose_asset.html
Author - Cole Vikupitz
CIS 322
********************************************************
FIXME
-->

<!DOCTYPE html>
<html lang="en-US">
<html>
	<head>
		<link rel="icon" href="{{url_for('static', filename='alien_icon.png')}}"/>
		<style>
			body {
				background-color: #ccccff;
				margin: 30px;
				font-family: verdana;
				font-size: 100%;
			}
			input {
				font-family: verdana;
				font-size: 100%;
				margin-bottom: 10px;
			}
		</style>
	</head>
	<body>
		<title>L.O.S.T.</title>
		<left><a href="{{url_for('dashboard')}}">Return to the dashboard</a></left>
		<center>
			<h1>Dispose Asset</h1>
			<h3 style="color:red;"> {{ message }} </h3>
			<h3>Enter the asset tag and date of disposure.</h3>
			<form method="post">
				Asset Tag: <input type="text" name="tag" size=16 placeholder="Asset Tag" required maxlength=16 /><br>
				Dispose Date: <input type="text" name="date" size=10 placeholder="MM/DD/YYYY" required maxlength=10 /><br>
				<input type="submit" value="Dispose"/>
			</form>
		</center>
	</body>
</html>
