<!--
message.html
Author - Cole Vikupitz
CIS 322
********************************************************
Error page with message, redirects user back to dashboard.
-->

<!DOCTYPE html>
<html lang="en-US">
<html>
	<head>
		<link rel="icon" href="{{url_for('static', filename='alien_icon.png')}}"/>
		<style>
			body {
				background-color: #ccccff;
				margin: 30px;
				font-family: verdana;
				font-size: 100%;
			}
			div {
				background-color: lightgrey;
				width: 375px;
				border: 1px solid black;
				padding: 20px;
				margin: 5px;
			}
		</style>
	</head>
	<body>
		<center>
			<title>L.O.S.T.</title>
			<div>
				<h3 style="color:red;"> {{ message }} </h3>
				<a href="{{url_for('dashboard')}}">Return to dashboard</a>
			</div>
		</center>
	</body>
</html>
