<!--
login.html
Author - Cole Vikupitz
CIS 322 - Assignment 6
********************************************************
HTML for the user login screen. Users can log in here, or go to
another page to create a new account.
-->

<!DOCTYPE html>
<html lang="en-US">
<html>
	<head>
		<link rel="icon" href="{{url_for('static', filename='alien_icon.png')}}"/>
		<style>
			body {
				background-color: #ccccff;
				font-family: verdana;
				font-size: 100%;
				margin: 30px;
			}
			input {
				font-family: verdana;
				font-size: 100%;
				margin-bottom: 10px;
			}
		</style>
	</head>
	<body>
		<center>
			<title>L.O.S.T. (Login)</title>
			<h1>Authenticate User</h1>
			<h3 style="color:red;"> {{ message }} </h3>
			<img src="{{url_for('static', filename='alien_icon.png')}}" style="width:209px;height:246px;"/><br>
			<h4>Please login to continue.</h4>
				<form method="post">
					Username: <input type="text" name="username" placeholder="Username" required/><br>
					Password: <input type="password" name="password" placeholder="Password" required/><br>
					<input type="submit" value="Submit"/><br><br>
				</form>
			<a href="{{url_for('create_user', message='')}}">Create New User</a>
		</center>
	</body>
</html>
