<!--
message.html
Author - Cole Vikupitz
CIS 322 - Assignment 6
********************************************************
HTML file for a message screen. Contains a message and a link to return to the login screen.
-->

<!DOCTYPE html>
<html lang="en-US">
<html>

<head>
<link rel="icon" href="{{url_for('static', filename='alien_icon.png')}}"/>
<style>
body {
	background-color: #ccccff;
    margin: 30px;
	font-family: verdana;
    font-size: 100%;
}
</style></head>

<body><center>

<!-- Title and header set, display the icon -->
<title>L.O.S.T.</title>
<h5>{{message}}</h5><br>
<a href="{{url_for('login')}}">Return to login page</a>

</center></body>
</html>
