<!--
transfer_report.html
Author - Cole Vikupitz
CIS 322
********************************************************
Page where users can view a report of all assets in motion/transit.
-->

<!DOCTYPE html>
<html lang="en-US">
<html>
	<head>
		<link rel="icon" href="{{url_for('static', filename='alien_icon.png')}}"/>
		<style>
			body {
				background-color: #ccccff;
				margin: 30px;
				font-family: verdana;
				font-size: 100%;
			}
		</style>
	</head>
	<body>
		<center>
			
		</center>
	</body>
</html>